name: Publish

on:
  push:
    branches:
      - main

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 12
          registry-url: https://npm.pkg.github.com/
          scope: '@codinglabsau'
      - run: npm ci --ignore-scripts
      - run: npm publish
